<div class="container" style="padding-top: 60px;" ng-controller="search-bids as bids">

    <div class="page-header row">
        <div class="col-lg-8 col-sm-8">
            <label class="white-stylish-text-super-big">Search Active Bids</label>
        </div>
        <div class="col-lg-2 col-sm-2">
            <button class="btn btn-lg btn-primary" style="width: 80%" type="submit" role="button"
                    ui-sref="user-profile({ userInfo : bids.userInfo, token : bids.token })">Back</button>
        </div>
        <div class="col-lg-2 col-sm-2">
            <button class="btn btn-lg btn-primary" style="width: 80%" type="submit" role="button"
                    ui-sref="user-logout({ userInfo : bids.userInfo })">Log Out</button>
        </div>
    </div>

    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img ng-src="../../images/search-icon.png">
            </div>
        </div>

        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

            <form class="form-horizontal" role="form" ng-submit="bids.searchByFullTextSearch()">
                <div class="form-group">
                    <input class="col-lg-8" type="search" ng-model="bids.searchText" placeholder="Search"/>
                    <div class="col-lg-3">
                        <button class="btn btn-sm btn-primary glyphicon glyphicon-search" type="submit" role="button"/>
                    </div>
                </div>
            </form>

            <table ng-show="bids.tableShow && bids.searchText.length > 0" st-table="displayedCollection" st-safe-src="rowCollection" class="table">
                <thead>
                    <tr>
                        <th class="white-stylish-text" st-sort="bidId">Bid Id</th>
                        <th class="white-stylish-text" st-sort="owner.firstName">Posted By</th>
                        <th class="white-stylish-text" st-sort="hostedDate">Posted Date</th>
                        <th class="white-stylish-text" st-sort="apartmentType">Apartment Type</th>
                        <th class="white-stylish-text" st-sort="price">Price</th>
                        <th class="white-stylish-text">View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection track by $index">
                        <td>{{ row.bidId }}</td>
                        <td>{{ row.owner.firstName }}</td>
                        <td>{{ row.hostedDate | date }}</td>
                        <td>{{ row.apartmentType }}</td>
                        <td>{{ row.price | currency }}</td>
                        <td>
                            <button type="button" ng-click="bids.selectItem(row)" class="btn btn-sm btn-primary">
                                <i class="glyphicon glyphicon glyphicon-forward">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <!--<tfoot>-->
                <!--<tr>-->
                <!--<td colspan="5" class="text-center">-->
                <!--<div st-pagination="" st-items-by-page="15" st-displayed-pages="7"></div>-->
                <!--</td>-->
                <!--</tr>-->
                <!--</tfoot>-->
            </table>
        </div>
    </div>

</div>
