<div class="container" style="padding-top: 60px;" ng-controller="bid-detail as bd">

    <div class="page-header row">
        <div class="col-lg-6 col-sm-6">
            <label class="white-stylish-text-super-big">Bid Detail</label>
        </div>
        <div class="col-lg-2 col-sm-2">
            <button class="btn btn-lg btn-primary" style="width: 80%" type="submit" role="button"
                    ui-sref="user-profile({ userInfo : bd.userInfo, token : bd.token })">Back</button>
        </div>
        <div ng-show="bd.isMyBid" class="col-lg-2 col-sm-2">
            <button class="btn btn-lg btn-primary" style="width: 100%" type="submit" role="button"
                    ui-sref="user-shopping-cart({ userInfo : bd.userInfo , bid : bd.bid, token : bd.token })">Shopping Cart</button>
        </div>
        <div class="col-lg-2 col-sm-2">
            <button class="btn btn-lg btn-primary" style="width: 80%" type="submit" role="button"
                    ui-sref="user-logout({ userInfo : bd.userInfo })">Log Out</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th class="white-stylish-text-big">Bid Id</th>
                        <th class="white-stylish-text-big">Posted By</th>
                        <th class="white-stylish-text-big">Posted Date</th>
                        <th class="white-stylish-text-big">Apartment Type</th>
                        <th class="white-stylish-text-big">Price</th>
                        <th class="white-stylish-text-big">Quantity</th>
                        <th class="white-stylish-text-big">City</th>
                        <th class="white-stylish-text-big">State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ bd.bid.bidId }}</td>
                        <td>{{ bd.bid.owner.firstName }}</td>
                        <td>{{ bd.bid.hostedDate | date }}</td>
                        <td>{{ bd.bid.apartmentType }}</td>
                        <td>{{ bd.bid.price | currency }}</td>
                        <td>{{ bd.bid.quantity }}</td>
                        <td>{{ bd.bid.addressEntity.city }}</td>
                        <td>{{ bd.bid.addressEntity.state }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h3 class="page-header white-stylish-text">Bid replies:</h3>
    <div class="row" ng-show="bd.bidTransactions.length">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">

            <div class="text-center">
                <img width="250" height="250" ng-src="../../images/reply-icon.png">
            </div>

        </div>

        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <table class="table">
                <thead>
                    <tr>
                        <th>Reply by</th>
                        <th>Comment</th>
                        <th>Quoted price</th>
                        <th>Quantity</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tr ng-repeat="transaction in bd.bidTransactions">
                    <td class="white-stylish-text">{{ transaction.bidReceiver.firstName }}</td>
                    <td class="white-stylish-text">{{ transaction.comments }}</td>
                    <td class="white-stylish-text">{{ transaction.bidPrice }}</td>
                    <td class="white-stylish-text">{{ transaction.quantity }}</td>
                    <td >
                        <img width="25" height="25" ng-show="transaction.bidStatus == 'FINALISED'" ng-src="../../images/deal-icon.png">
                        <p class="white-stylish-text" ng-show="!bd.isMyBid && transaction.bidStatus == 'INTERESTED'">Open</p>
                        <button ng-show="bd.isMyBid && transaction.bidStatus == 'INTERESTED'" type="button" role="button" class="btn btn-sm btn-primary"
                                ng-click="bd.selectTransaction(transaction)" data-toggle="modal" data-target="#myModal">
                                <i class="glyphicon glyphicon-ok"/>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Item Added to Shopping Cart!</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" ng-hide="bd.isMyBid">

        <div class="col-lg-12 col-sm-6">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <textarea rows="1" cols="50" required class="form-control" ng-model="bd.transaction.comments"  placeholder="Your comments" />
                </div>
                <div class="form-group">
                    <input required class="form-control" ng-model="bd.transaction.bidPrice" type="number" placeholder="Your quote price" />
                </div>
                <div class="form-group">
                    <input required class="form-control" min="1" max="{{ bd.bid.quantity }}" ng-model="bd.transaction.quantity" type="number" placeholder="quantity" />
                </div>
                <div class="form-group">
                    <button type="submit" role="button" ng-click="bd.createTransactionItem()" class="btn btn-sm btn-primary">
                        <i class="glyphicon glyphicon glyphicon-plus"/>Reply on this bid</button>
                </div>
                <div class="form-group">
                    <label ng-if="bd.message">{{ bd.message }}</label>
                </div>
            </form>
        </div>

    </div>
</div>